<section class="price-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">Nos experts chasseurs virtuels dénichent sur tout le marché pour vous trouver votre bien idéal pour la location</h2>
          <p>Ils dénichent partout &nbsp;: &nbsp;<b>Agences, Particuliers, Promoteurs, Sites d'annonces, Réseaux sociaux ...</b></p>
          <h5 class="text-uppercase mt-3 mb-3">Une efficacité prouvée !</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-price">
          <div class="top-part">
            <h1 class="package-no">
              <img class="mx-auto" src="assets/img/hourglass.png" alt="">
            </h1>
            <h4 class="text-uppercase">Réduisez de 99%</h4>
            <p class="text-uppercase">Votre temps de recherche</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-price">
          <div class="top-part">
            <h1 class="package-no">
              <img class="mx-auto" src="assets/img/message.png" alt="">
            </h1>
            <h4 class="text-uppercase">Minimum 2 offres</h4>
            <p class="text-uppercase">assurées par jour en sms</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-price">
          <div class="top-part">
            <h1 class="package-no">
              <img class="mx-auto" src="assets/img/online-discount.png" alt="">
            </h1>
            <h4 class="text-uppercase">95% moins cher</h4>
            <p class="text-uppercase">que les chasseurs physiques</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-price">
          <div class="top-part">
            <h1 class="package-no">
              <img class="mx-auto" src="assets/img/customer-review.png" alt="">
            </h1>
            <h4 class="text-uppercase">93,7% de nos clients</h4>
            <p class="text-uppercase">satisfait du service</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Start home-about Area -->
<section class="home-about-area">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 home-about-left no-padding">
        <img class="mx-auto d-block img-fluid" src="assets/img/about-img.png" alt="">
      </div>
      <div class="col-lg-6 home-about-right no-padding">
        <h1>L'intelligence artificielle à l'écoute du marché immobilier locatif</h1>
        <h5>
          Votre chasseur virtuel est doté d'une intelligence artificielle avancée dans le secteur immobilier dans le but de :
        </h5>
       <!-- <p>
          Tous nos chasseurs virtuels sont dotés d'une intelligence artificielle avancée dans le but de :
        </p>-->
        <ul class="fa-ul mt-1">
          <li><span class="fa-li"><i class="fas fa-check" style="color:green"></i></span>Vous proposez les biens en location les plus qualitatifs et les plus pertinents vis-à-vis de vos critères de recherche.
          </li>
          <li><span class="fa-li"><i class="fas fa-check" style="color:green"></i></span>Être qu'à votre service 24h/24 et 7j/7 pour la recherche du bien idéal.
          </li>
          <li><span class="fa-li"><i class="fas fa-check" style="color:green"></i></span>
            Vous assurez d'être le 1<sup>er</sup> informé du bien mis en location sur le marché par sms.
          </li>
          <li><span class="fa-li"><i class="fas fa-check" style="color:green"></i></span>
            Suivi et conseil journalier sur votre dossier par rapport à l'évolution du marché.
          </li>
        </ul>
       <!-- <a class="primary-btn text-uppercase" href="#">Get Details</a>-->
      </div>
    </div>
  </div>
</section>
<!-- End home-about Area -->


<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 about-video-left">
        <h6 class="text-uppercase">Parce qu'on comprend votre temps, vos souffrances et vos efforts passé à la recherche d'une location</h6>
        <h2 class="mt-2">
          On réinvente la recherche traditionnelle
        </h2>
        <p class="mt-3">
          <span>Imaginez vous avez besoin urgemment de trouver un appartemment en location.</span><br>
          Pour cela vous décidez de consacrer vos journées à la recherche de votre futur bien afin d'être le 1<sup>er</sup> à le décrocher.&nbsp;&nbsp;<b>C'est fatiguant non ?</b> <br>
          Et bien finalement tout cela est devenu possible grâce à votre futur chasseur virtuel.<br>
          Non seulement votre chasseur fera le travail 24h/24 et 7j/7 à votre place,
          il sera aussi présent sur tout les marchés de location au même moment (Agence, particuliers, promoteurs, sites d'annonces, réseaux sociaux ...) afin de vous apporter les derniers biens mis en location.
        </p>
        <a *ngIf="!isAuthenticated" class="primary-btn mt-3" href="#">Engager mon chasseur virtuel</a>
      </div>
      <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex relative">
        <div class="overlay overlay-bg"></div>
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto"
                                                                                    src="assets/img/play-btn.png"
                                                                                    alt=""></a>
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->

<!-- Start feature Area -->
<section class="feature-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-40 header-text text-center">
        <h1 class="pb-10 text-white">Le saviez-vous ?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-home"></span>
          <h4>+ 5000 agences</h4>
          </a>
          <p>
            Nos chasseurs virtuels recherchent des locations dans la majorité des agences immobilières en france.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-users"></span>
          <h4>+ 20 000 particuliers</h4>
          </a>
          <p>
            Nos chasseurs virtuels vous proposent des biens sans frais d'honoraires auprès des particuliers.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-layers"></span>
          <h4>+ 120 000 annonces/jour</h4>
          </a>
            <p>
            Nos chasseurs virtuels récupérent toutes les annonces du marché pour vous proposer des biens qualitatifs.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-rocket"></span>
            <h4>Intelligence artificielle</h4>
          </a>
          <p>
            Notre système de recherche et de recommendation est basé sur des algorithmes issues de l'intelligence artificielle.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-diamond"></span>
            <h4>Service client</h4>
          </a>
          <p>
            Un service client de qualité est à votre écoute et prêt à vous aider en cas de problème (par télephone, e-mail, chatbot).
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature">
          <a class="title d-flex flex-row">
            <span class="lnr lnr-bubble"></span>
            <h4>Satisfaction client</h4>
          </a>
          <p>
            93,7% de nos clients se disent satisfait des prestations réaliser par nos chasseurs virtuels en termes de gains de temps et d'efforts. Merci !
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End feature Area -->


<!-- Start brand Area -->
<!--<section class="brand-area pt-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col single-brand">
        <img class="img-fluid" src="assets/img/l1.png" alt="">
      </div>
      <div class="col single-brand">
        <img class="img-fluid" src="assets/img/l2.png" alt="">
      </div>
      <div class="col single-brand">
        <img class="img-fluid" src="assets/img/l3.png" alt="">
      </div>
      <div class="col single-brand">
        <img class="img-fluid" src="assets/img/l4.png" alt="">
      </div>
      <div class="col single-brand">
        <img class="img-fluid" src="assets/img/l5.png" alt="">
      </div>
    </div>
  </div>
</section>-->
<!-- End brand Area -->
