<div class="image-container set-full-height" style="background-image: url('assets/img/home-area-register.jpg')">
  <!--   Creative Tim Branding   -->
  <a href="/accueil">
    <div class="logo-container">
      <div class="logo">
        <img src="assets/paper-bootstrap-wizard-master/assets/img/new_logo.png">
      </div>
      <div class="brand">
        Creative Tim
      </div>
    </div>
  </a>

  <!--   Big container   -->
  <div class="container">
    <div class="row">
      <div class="col-sx-8 col-sm-12 col-lg-12 col-sm-offset-2">

        <!--      Wizard container        -->
        <div class="wizard-container" >
          <div class="card wizard-card register-card"  data-color="green" id="wizard">
            <form action="" method="">
              <!--        You can switch " data-color="green" "  with one of the next bright colors: "blue", "azure", "orange", "red"       -->

              <div class="wizard-header">
                <h3 class="wizard-title">List your place</h3>
                <p class="category">This information will let us know more about your place.</p>
              </div>
              <div class="wizard-navigation">
                <div class="progress-with-circle">
                  <div aria-valuemax="4" aria-valuemin="1" aria-valuenow="1" class="progress-bar"
                       role="progressbar" style="width: 15%;"></div>
                </div>
                <ul class="nav nav-pills">
                  <li style="width: 20%;">
                    <a data-toggle="tab" href="#typebien" class="active show">
                      <div style="background-color: #e29342"  class="icon-circle">
                        <i class="ti-map"></i>
                      </div>
                      Location
                    </a>
                  </li>
                  <li style="width: 20%;">
                    <a>
                      <div style="background-color: #e29342"  class="icon-circle">
                        <i class="ti-map"></i>
                      </div>
                      Intérieur
                    </a>
                  </li>
                  <li style="width: 20%;">
                    <a>
                      <div style="background-color: #e29342" class="icon-circle">
                        <i class="ti-direction-alt"></i>
                      </div>
                      Secteur
                    </a>
                  </li>
                  <li style="width: 20%;">
                    <a>
                      <div style="background-color: #e29342" class="icon-circle">
                        <i class="ti-panel"></i>
                      </div>
                      Contact
                    </a>
                  </li>
                  <li style="width: 20%;">
                    <a>
                      <div class="icon-circle checked">
                        <i class="ti-comments"></i>
                      </div>
                      Mon chasseur
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active show" id="typebien">
                  <h5 class="info-text">Vous recherchez  </h5>
                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-left">
                  <input (click)="previous()" type='button' class='btn btn-default btn-wd' name='previous' value='Précedant' />
                </div>
              </div>
            </form>
          </div>
        </div> <!-- wizard container -->
      </div>
    </div> <!-- row -->
  </div> <!--  big container -->
</div>
